@model List<City>
@{
    ViewBag.Title = "Part III";

    /*
    * This page is throwing a server error, investigate and fix the root of this problem without modifying city list.
    * Feel free to add comments here explaining your solution.
    */


    /*
    My solution: I gave City a constructor and I initialized its State within City's parameterless constructor. A null reference exception was being thrown because State wasn't being set to anything. The object wasn't beig constructed in memory.
    */

}
<div class="row">
    <h1>Results</h1>

    @foreach (var c in Model)
    {
        <p>@c.DisplayFullDetails()</p>
    }

</div>