@model HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Part III Error Page</title>
</head>
<body>
    <div class="row">
        <h1 style="color: red;">Part III - Error!</h1>
        <p>Looks like you've been redirected to the part III error page. Review the stack trace below and fix the bug without modifying the data set.</p>
    </div>

    <h3 style="color: red;">@Model.Exception.Message</h3>
    <div style="font-family: monospace; font-size:11px;">
        <pre>@Model.Exception.StackTrace</pre>
    </div>
</body>
</html>