@model Tuple<IEnumerable<Employee>,IEnumerable<Office>,IEnumerable<Position>>
@*@model IEnumerable<Employee>*@
@{
    ViewBag.Title = "Part II B";
}

<div class="row">
    <h1>Part II B</h1>
    <p>
        There are over 1000 <i>[InterviewTest].[dbo].[Employee]</i> records in the database.
        <ol>
            <li>Output each employee's first name, last name, office name, and position name.</li>
            <li>Implement server-side pagination of 100 records per page.</li>
            <li>
                Add ability to filter by one of the following:
                <ul>
                    <li>Part Time/Full Time</li>
                    <li>Remote/On site</li>
                </ul>
            </li>
        </ol>
    </p>
    <p>Add your code to this view.</p>
    <hr />

    <!-- Your code here -->

    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>firstName</th>
            <th>lastName</th>
        </tr>
        @foreach (var employee in Model.Item1)
        {
            foreach (var office in Model.Item2)
            {
            <tr>
                <td>@employee.firstName</td>
                <td>@employee.lastName</td>
                <td>@office.officeName</td>
            </tr>
            }
        }
    </table>
    <input id="Submit" type="submit" value="submit" />
</div>