@{
    ViewBag.Title = "Part I";
}

<div class="row">
    <h1>Part I</h1>
    <p>
        Create a simple Applicant form, which inserts the following fields to the <i>[InterviewTest].[dbo].[Applicant]</i> table:
        <ul>
            <li>First name (required)</li>
            <li>Middle name</li>
            <li>Last name (required)</li>
            <li>Position Id (required)</li>
            <li>Comments</li>
            <li>Remote (required)</li>
        </ul>
    </p>
    <p>Implement front-end (javascript) <b>AND</b> back-end (server-side) validation on required fields. Only a valid form should be inserted into the database!</p>
    <p>Add your code to this view.</p>
    <hr />

    <!-- Your code here -->
</div>